*.log
*.docset
bertin.mode*
*.dSYM
_UpgradeReport_Files
UpgradeLog*
test/BM2-MBPc2@2.4Ghz32-osx1064-20101011.txt
test/BM2-MBPc2@2.4Ghz64-osx1064-20101011.txt
test/BM2-biG5@1.8Ghz-osx10411-20101011.txt
*.user
*.suo
*.stackdump
win/ipch
*.sdf
test/emsg
test/findtest
test/findtest.s
test/vectest
test/benchmark-macstl
test/benchmark-macstl.sse
avx_mathfun-orig.h
scratch.cpp
unix/emsg
unix/benchmark-macstl.sse
unix/findtest
unix/benchmark-macstl
cmake/build
mac/build
*.kdev4
.kdev4
